[user]
        name = Michael Silverberg
        email = 13588399+mbd-s@users.noreply.github.com
[includeIf "gitdir:~/work/"]
        path = ~/dotfiles/git/work/.gitconfig
[core]
        excludesfile = ~/.gitignore_global
        autocrlf = input
        attributesfile = ~/.gitattributes
        pager = diff-so-fancy | less --tabs=4 -RF
[alias]
        aa = add -A
        br = branch
        ca = commit --amend
        ci = commit
        cm = commit -m
        co = checkout
        cp = cherry-pick
        cv = commit -v
        d = diff
        last = log -1 HEAD
        ll = log --oneline
        lp = log -p
        mine = log --author='Michael Silverberg'
        pf = push --force-with-lease
        ri = rebase -i
        rv = remote -v
        st = status -sb
        sw = switch
[pager]
        branch = false
[pull]
        rebase = false
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
        added = green
        changed = "#DC143C"
        untracked = "#DC143C"
[init]
        defaultBranch = main
[diff-so-fancy]
	stripLeadingSymbols = true
[add "interactive"]
	useBuiltin = false
[rebase]
	autosquash = true
