[include]
  path = ~/dotfiles/git/.gitlocal
[includeIf "gitdir:~/work/"]
  path = ~/dotfiles/git/work/.gitlocal
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  attributesfile = ~/.gitattributes
  pager = diff-so-fancy | less --tabs=4
[alias]
  aa = add --all
  br = branch
  ca = commit --amend
  ci = commit
  cm = commit --message
  co = checkout
  cp = cherry-pick
  cv = commit --verbose
  d = diff
  fixup = !sh -c 'git commit --fixup :/\"$1\"' -
  last = log -1 HEAD
  ll = log --oneline
  lp = log --patch
	nuke = !git for-each-ref --format \"%(refname:short)\" refs/heads | grep --invert-match \"staging\\|main\" | xargs git branch -D
  pf = push --force-with-lease
  ri = !sh -c 'git rebase --interactive $1~' -
  rv = remote --verbose
  sst = status --short --branch
  st = status
  sw = switch
  swc = switch --create
  ut = ls-files --others --exclude-standard
[color]
  ui = auto
[color "branch"]
  current = cyan bold reverse
  local = white
  remote = cyan
[color "diff"]
  commit = yellow
  frag = cyan bold reverse
  func = cyan
  meta = magenta
  new = green
  old = red
  whitespace = magenta reverse
[color "diff-highlight"]
  newHighlight = bold
  oldHighlight = bold
[color "grep"]
  filename = cyan
  linenumber = "bold #50fa7b"
  match = bold magenta
  separator = "#bd93f9"
[color "status"]
  added = green
  changed = yellow
  remoteBranch = cyan bold
  unmerged = magenta bold reverse
  untracked = "#ffb86c"
  updated = green bold
[diff-so-fancy]
  stripLeadingSymbols = true
[fetch]
  prune = true
[help]
  autocorrect = 30
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[pager]
  branch = false
[pull]
  ff = only
[push]
  autoSetupRemote = true
[rebase]
  autosquash = true
[rerere]
	enabled = true
