[include]
  path = ~/dotfiles/git/.gitlocal
[includeIf "gitdir:~/work/"]
  path = ~/dotfiles/git/work/.gitlocal
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  attributesfile = ~/.gitattributes
  pager = diff-so-fancy | less --tabs=4
[alias]
  aa = add -A
  br = branch
  ca = commit --amend
  ci = commit
  cm = commit -m
  co = checkout
  cp = cherry-pick
  cv = commit -v
  d = diff
  fixup = !sh -c 'git commit --fixup :/\"$1\"' -
  last = log -1 HEAD
  ll = log --oneline
  lp = log -p
  pf = push --force-with-lease
  ri = !sh -c 'git rebase -i $1~' -
  rv = remote -v
  st = status
  sst = status -sb
  sw = switch
[color]
  ui = auto
[color "branch"]
  current = cyan bold reverse
  local = white
  remote = cyan
[color "diff"]
  meta = magenta
  frag = cyan bold reverse
  func = cyan
  commit = yellow
  old = red
  new = green
  whitespace = magenta reverse
[color "diff-highlight"]
  oldHighlight = bold
  newHighlight = bold
[color "grep"]
  filename = cyan
  linenumber = "bold #50fa7b"
  match = bold magenta
  separator = "#bd93f9"
[color "status"]
  added = green
  changed = yellow
  untracked = "#ffb86c"
  remoteBranch = cyan bold
  unmerged = magenta bold reverse
  updated = green bold
[diff-so-fancy]
  stripLeadingSymbols = true
[fetch]
  prune = true
[help]
  autocorrect = 30
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[pager]
  branch = false
[pull]
  ff = only
[push]
  autoSetupRemote = true
[rebase]
  autosquash = true
